git+ssh://git@bitbucket.org/voxsim/simulation_generator#egg=simulation_generator # Install Simulation Generator first
git+ssh://git@gitlab.linum.info.uqam.ca/linum/linumpy#egg=linumpy # Install LinumPy -> for convention purposes
